@model List<User>

@{
    ViewData["Title"] = "User List";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"
        asp-append-version="true" />
}
<a asp-action="Create" class="btn btn-primary mb-2">Create New</a>
<div class="card">
    <div class="card-header">
        User List
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="userTable">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            LoadList();
        })
        function LoadList() {
            var saveData = [];
            $.ajax({
                type: "POST",
                url: "/User/GetAll",
                async: false,
                success: function (response) {
                    $.each(response, function (i, item) {
                        var editBtn = "<a href='/User/Edit/" + item.id + "' class='btn btn-sm btn-primary'>Edit</a>";
                        var delBtn = `<a href="/User/Delete/${item.id}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>`;
                        var Actions = editBtn + " | " + delBtn;
                        saveData.push([item.firstName, item.lastName, item.email, item.password, Actions]);
                    });
                }
            })
            $("#userTable").DataTable({
                data: saveData,
                destroy: true,
            });
        }
    </script>
}
